:root {
    --branco: #F7F9F9;
    --sombra: #212227;
    --sombra-clara: rgba(255, 255, 255, 0.05);
    --cinza: #637074d3;
    --cinza-fosco: #d6e3e737;
    --vidro: #fffbfee3;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--sombra);
    overflow-x: hidden;
}

main {
    align-content: center;
    height: 80%;

    & section {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        justify-content: space-between;
        margin: 10px;
        gap: 20px;
        padding: 0px 0px 0px 10px;

        & #foto {
            display: grid;
            justify-self: flex-start;
            align-items: center;
        }


        & img {

            align-items: center;
            display: flex;
            justify-content: center;
            margin: 10px;
            width: 300px;
            height: 450px;

            border-radius: 10px;
        }

        & img:hover {
            box-shadow: 0px 0px 10px 0px var(--cinza-fosco);
        }

        & #caixa-texto {
            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            margin: 10px;
            width: 60%;

            & #caixa-nome{
                width: 95%;
                color: var(--vidro);
                display: flex;
                justify-content: space-between;
                flex-flow: row nowrap;
                margin-bottom: 20px;

            }

            & p {
                text-align: justify;
                padding: 30px;
                margin: 5px;
                word-spacing: 2px;
                line-height: 1.5rem;
                font-family: Arial, Helvetica, sans-serif;
                color: var(--branco);
                font-size: 12px;
                border: 1px solid var(--sombra-clara);
                border-radius: 10px;
                transition: transform 0.5s;

            }

            & p:hover {
                transform: translateY(-5px);
                box-shadow: 0px 0px 5px 0px var(--cinza-fosco);
            }
            
            & footer {
                display: flex;
                flex-flow: column wrap;
                margin: 10px;
                gap: 10px;
                justify-content: center;
                height: 150px;
                width: 300px;
                
                & .links {
                    margin-top:30px ;
                    justify-content: center;
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 15px;
                    font-size: 35px;
                }

                & .bi{
                    color: var(--vidro);
                    font-size: 40px;
                }

                & .bi:hover {
                    color: var(--cinza);
                }

                & #button-contato {
                    background-color: var(--branco);
                    height: 50px;
                    border-radius: 10px;
                    border: none;
                    font-size: 1.2rem;
                    font-family: 'Times New Roman', Times, serif;
                    transition: 0.4s;
                }

                & #button-contato:hover {
                    color: var(--branco);
                    background-color: var(--cinza);
                    transform: scale(1.1);
                    box-shadow: 0px 0px 11px 1px var(--cinza-fosco);
            }
            }
        }
    }
}

.links a {
    /* background-color: black; */
    color: rgb(10, 27, 183);
}

@media (max-width: 350px) {
    body {
        overflow-x: hidden;
    }



    main {
        & section {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            padding: 0;
            gap: 10px;

            & #foto img {
                width: 180px;
                height: 180px;
            }

            & #caixa-texto {
                width: 90%;
                text-align: center;

                & p {
                    font-size: 10px;
                    padding: 15px;
                }

                & footer {
                    width: 100%;
                    height: auto;
                    margin: 10px 0;
                    gap: 8px;
                    align-items: center;

                    & .links {
                        justify-content: center;
                        gap: 6px;
                    }

                    & #button-contato {
                        width: 100%;
                        height: 45px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 350px) and (max-width:600px) {

    main {
        max-height: 600px;
    }

    main section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }

    main section div p {
        line-height: 1.6px;
        word-spacing: 3px !important;
        font-size: 15px !important;

    }
}

@media (min-width: 600px) and (max-width: 900px){
    main section{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }

    main section #foto img {
                width: 300px;
                height: 450px;
            }

   main section div p{
    line-height: 30px ;
        font-size: 18px ;
    }

    main section span img{
        width: 35 0px  ;
        height: 500px ;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    
     main {
        max-height: 100vh;
        max-width: 100vw;
    }

    main section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        /* height: 70vh; */

    }


    main section div p {
        line-height: 2px;
        word-spacing: 4px !important;
        font-size: 18px !important;

    }

}

@media (min-width: 1200px) {
    main {
        max-height: 100vh;
        max-width: 100vw;
    }

    main section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

    }

    main section #caixa-texto{
        height: 600px;
        width: 90%;
    }

    main section #caixa-texto #caixa-nome{
        margin-top: 200px;
    }

    main section div p {
        /* height: 80%; */
        font-weight: 100;
        line-height: 10px;
        word-spacing: 5px !important;
        font-size: 18px !important;

    }
}