:root {
    --branco: #F7F9F9;
    --preto: rgba(0,0,0,0.3);
    --sombra: #131314;
    --cinza: #637074d3;
    --cinza-fosco: #d6e3e71a;
    --vidro: #fffbfee3;
    --luz-clara: rgba(255, 255, 255, 0.05);
    --vidro-fosco: rgba(255,255,255,0.05);
    --sombra-vidro: 1px 1px 10px 0px rgba(117, 116, 116, 0.6);
    --sombra-escura: 1px 1px 5px 0px var(--branco);

}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--sombra);
}

section {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Área superior */
.top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: var(--preto);
    margin: 20px;
    height: 300px;
    padding: 20px;
    border-radius: 30px;
    
    
    transition: 0.5s ease-in-out;
}

.top-area:hover{
    /* transform: translateY(-3px); */
    box-shadow:var(--sombra-vidro);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.2);

}

.logo-area img {
    width: 160px;
    height: auto;
    border-radius: 50%;
}

.descricao-area {
    max-width: 600px;
}

.descricao-area h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--vidro);
}

.descricao-area p {
    font-size: 1.2rem;
    color: var(--branco);
    line-height: 1.3;
    margin-bottom: 10px;
}

.descricao-datas h3{
    color: var(--vidro);
}

.descricao-datas p{
    font-size: 14px !important;
}

/* Projetos em cards */
.projetos-area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 340px; 
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    
    
    /* background-image: url(../imgs/pexels-goumbik-574071.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    
    /* Efeito Parallax */
    /* background-attachment: fixed; */
}


.card {
    height: 250px;
    padding: 10px;
    border-radius: 1rem;
    transition: 0.3s;

    /* Fundo cinza claro + vidro fosco */
    background: rgba(255, 255, 255, 0.15); /* leve cinza transparente */
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);

    /* Bordas de vidro */
    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.card h3 {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--branco);
}

.card:hover {
    /* transform: translateY(-6px); */
    box-shadow: var(--sombra-vidro);
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12); */
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.3);
}


@media (max-width: 350px) {
    section .top-area{
        height: 550px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;


        & .descricao-area{
            text-align: justify;

            & h2{
                font-size: 20px;
            }

            & p{
                font-size: 16px;
            }
        }
    } 
}

@media (min-width: 350px) and (max-width:600px) {
    section .top-area{
        height: 500px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
   
}

@media (min-width: 900px) {
    section .top-area{
        justify-content: center;
    }

    section .top-area .logo-area{
        width: 200px;
    }

    section .top-area .descricao-area{
        width: 600px;
        margin-left: 100px;
    }
}

