:root {
    --branco: #F7F9F9;
    --sombra: #212227;
    --cinza: #637074d3;
    --cinza-fosco: #d6e3e72f;
    --vidro: #fffbfee3;
}

/* HEADER → alinhamento horizontal com itens espaçados */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    /* Muda a cor do fundo do header */
    background: var(--vidro);
    /* garante controle de camadas */
    position: relative;
    z-index: 0;
}

/* ÁREA DO NOME → ficará por cima da faixa escura */
header .menu-nome {
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--sombra) ;

}

header .menu-nome.nome a {
    text-decoration: none;
    color: inherit ;

}

/* FAIXA ESCURA ATRÁS DO NOME */
header .menu-nome::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--sombra) ;
    z-index: -1;
    /* fica atrás do texto */
}

/* NOME → com animação */
header .nome {
    padding: 10px;
    margin-left: 5%;
    transition: 1s;
}

/* Animação da faixa sobre o nome */
header .nome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--sombra) ;
    /* z-index: -1; */

    transition: 1s;
}

header .nome:hover {
    color: var(--vidro) !important;
}

/* Ao passar o mouse → faixa escura cresce pra trás */
header .nome:hover::before {
    width: 100%;
}

/* MENU DE LINKS */
header #menu {
    display: flex;
    gap: 15px;
    list-style: none;
    margin-right: 5%;
}

/* Estilo dos itens */
header #menu li {
    /* width: 80px; */
    height: 20px;
    padding: 10px;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

}

header #menu li a {
    text-decoration: none;
    color: inherit;
}

header #menu li::after {
    content: "";
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: var(--sombra);
    transition: 0.6s ease-in-out;
}

header #menu li:hover::after {
    width: 100%;

}

@media  (max-width:600px) {

    header {
        justify-content: center;
        height: 300px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    h1 {
        margin: 2%;
        text-align: center;
    }

    ul {
        font-size: 0.8rem;
        display: flex;
        flex-flow: column nowrap;
    }

}